<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <title>Product App</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <div class="nav-bar"></div>

  <div id="app">
    <div class="product">
      <div class="product-image">
        <a :href="image_link"><img :src="image" :alt="description" /></a>
      </div>


      <div class="product-info">
        <h1>{{ product }}</h1>
        <p v-if="inventory > 100"> In Stock </p>
        <p v-else-if="inventory<=10 && inventory > 0"> Almost Sold Out </p>
        <!-- <p v-else> Out Of Stock </p> -->
        <p :class="{crossOut: !inStock }"> In Stock</p>

        <ul>
          <li v-for="detail in details"> {{ detail }} </li>
        </ul>

        <div v-for="variant in variants" 
            :key="variant.variantId"
            class="color-box cursorHover"
            :style="{ backgroundColor: variant.variantColor }"
            @mouseover="updateProduct(variant.variantImage)" >



         
          <!-- <div v-for="size in sizes" :key="size.sizeId"> 
                <ul> 
                  <li>
                    {{ size.size }} 
                  </li>
                </ul>
              </div> -->
        </div>



        <!-- BUTTON + LISTENER -->

        <button @click="removeFromCart" style="background-color: red;"> Remove </button>
        <button @click="addToCart" 
                :disabled="!inStock"
                :class="{disabledButton: !inStock }"> Add to Cart </button>

        <div class="cart">
          <p> Cart({{cart}}) </p>
        </div>






        <!-- <p><span v-show="onSale" style="color: red"> ON SALE! </span></p> -->

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="main.js"></script>
</body>

</html>